@import '../../../theme/variables';
/*Step.js*/

.steps-wrapper {
    background: $bgr-light-gray;
    border-radius: 10px;
    padding: 20px 20px 0 20px;
    text-align: center;
}

.step-name {
    margin-bottom: 20px;
}

.steps-wrapper h5 {
    display: inline;
    z-index: 1;
    position: relative;
}

.steps-wrapper h5 strong > span {
    position: relative;
}

.steps-wrapper h5 strong > span:after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0;
    left: -20px;
    right: 0;
    height: 45px;
    background: $green;
    opacity: 0.5;
    width: 115%;
    z-index: -1;
}

.phone {
    background: url("./img/phone_placeholder.png") center center no-repeat;
    background-size: 60%;
    width: 80%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 87%;
}

.phone img {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    width: 50%;
    margin: auto;
}

@media (min-width: 360px) {
    .phone img {
        width: 52%;
    }
}

@media (min-width: 450px) {
    .phone img {
        width: 54%;
    }
}

@media (min-width: 560px) {
    .phone img {
        width: 55%;
    }
}

@media (min-width: 680px) {
    .phone img {
        width: 56%;
    }
}

@media (min-width: 768px) {
    .phone img {
        width: 57%;
    }
}

@media (min-width: 980px) {

    .phone {
        background-size: 60%;
        width: 40%;
        padding-bottom: 44%;
    }

    .phone img {
        width: 55%;
    }

    .steps-wrapper {
        position: relative;
    }

    .step-name {
        position: absolute;
        top: 25%;
        left: 5%;
        padding-left: 0;
    }

    .steps-wrapper h5 {
        position: absolute;
        top: 32%;
        left: 5%;
        width: 300px;
        text-align: left;
    }
}

@media (min-width: 1024px) {
    .phone {
        width: 30%;
        padding-bottom: 33%;
    }

    .phone img {
        width: 53%;
    }

    .steps-wrapper h5 {
        left: 10%;
    }

    .step-name {
        left: 10%;
    }
}

@media (min-width: 1024px) {
    .phone img {
        width: 55%;
    }
}




