@import '../../../theme/variables';
/*Step.js*/

.steps-wrapper {
    background: $bgr-light-gray;
    border-radius: 10px;
    padding: 20px 20px 0 20px;
    text-align: center;
}

.step-name {
    margin-bottom: 20px;
}

.steps-wrapper h5 {
    display: inline;
    z-index: 1;
    position: relative;
}

.steps-wrapper h5 strong > span {
    position: relative;
}

//Step Higthlight
/*
.steps-wrapper h5 strong > span:after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0;
    left: -20px;
    right: 0;
    height: 45px;
    background: $green;
    opacity: 0.5;
    width: 115%;
    z-index: -1;
}*/

.phone {
    background: url("./img/phone.svg") center center no-repeat;
    width: 270px;
    margin: 0 auto;
    position: relative;
    height: 480px;
}

.phone img {
    position: absolute;
    top: 43px;
    left: 0;
    right: 0;
    width: 245px;
    margin: auto;
}

@media (min-width: 980px) {

    .phone {
        width: 265px;
    }

    .phone img {
        width: 245px;
    }

    .steps-wrapper {
        position: relative;
    }

    .step-name {
        position: absolute;
        top: 25%;
        left: 5%;
        padding-left: 0;
    }

    .steps-wrapper h5 {
        position: absolute;
        top: 32%;
        left: 5%;
        width: 300px;
        text-align: left;
    }
}


@media (min-width: 1366px) {
    .steps-wrapper h5 {
        left: 10%;
    }

    .step-name {
        left: 10%;
    }
}





