@import '../../../theme/variables';

.second-nav {
    display: table;
    width: 100%;
}

.left-side {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}

.right-side {
    display: table-cell;
    width: 50%;
    text-align: right;
    vertical-align: middle;
}

.right-side button {
    width: 70px;
}

.text {
    display: inline-block;
    padding-right: 10px;
    font-weight: bold;
    color: $gray;
}

.dots {
    background: url("./img/dots.svg") center center no-repeat;
    background-size: 90%;
    width: 40px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;

}

.network {
    background: url("./img/3G-4G.svg") center center no-repeat;
    background-size: 100%;
    width: 40px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.bluetooth {
    background: url("./img/bluetooth.svg") center center no-repeat;
    background-size: 70%;
    width: 40px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;

}