@import '../../theme/variables.scss';
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

/*main-slogan*/
.blue-gradient {
    @include gradient-directional($gr-white-blue-from, $gr-white-blue-to, 135deg);
    border-radius: 10px;
    padding: 10px;
}

.main-slogan {
    margin-top: 40px;
}

.main-slogan .name {
    background: url("./img/tickey.svg") center center no-repeat;
    height: 50px;
}

.main-slogan h1 {
    color: $gray;
    font-weight: bold;
}

.main-slogan h1 .yellow-highlight {
    position: relative;
    padding: 0 10px;
}

.main-slogan h1 .yellow-highlight:after {
    content: '';
    position: absolute;
    top: -10px;
    bottom: 0;
    left: 15px;
    right: 0;
    margin: auto;
    width: 100%;
    height: 40px;
    background: $yellow;
    opacity: 0.5;
}

.main-slogan h1 .thinner {
    font-weight: normal;
    display: block;
}

/*station*/
.station {
    padding: 0 15px;
}

.station .metro {
    margin-bottom: 10px;
}

.station .metro,
.station .cgm {
    background: $white;
    padding: 15px 10px;
    border-radius: 10px;
}

.station .metro .logo {
    background: url("./img/metro.svg") center center no-repeat;
    background-size: 80%;
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
}

.station .cgm .logo {
    background: url("./img/cgm_logo.svg") center center no-repeat;
    background-size: 80%;
    width: 42px;
    height: 42px;
    float: left;
    margin-right: 10px;
}

.station .info {
    margin-top: 10px;
}

.station .metro .info {
    margin-bottom: 15px;
}

.how-it-works {
    width: 170px;
    margin: 30px auto;
}

/*partners*/
.sofia-partners {
    width: 100%;
}

.partners {
    max-width: 400px;
    margin: 0 auto;
}

.sofia-municipality {
    background: url("./img/sofia_minucipality.svg") center center no-repeat;
    background-size: 100%;
    width: 40px;
    height: 80px;
}

.cgm-text {
    background: url("./img/cgm.svg") center center no-repeat;
    background-size: 80%;
    width: 150px;
    height: 80px;
}

.metropoliten {
    background: url("./img/metropoliten.svg") center center no-repeat;
    background-size: 100%;
    width: 150px;
    height: 80px;
}

//stations-info

.metro-stations,
.bus-stations {
    background: $white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}

.metro-logo {
    background: url("./img/metro_station.svg") center center no-repeat;
    background-size: 100%;
    width: 150px;
    height: 100px;
    margin: 0 auto;
}

.bus-logo {
    background: url("./img/bus_station.svg") center center no-repeat;
    background-size: 100%;
    width: 150px;
    height: 100px;
    margin: 0 auto;
}

.metro-stations ol {
    padding-left: 20px;
}

.privacy {
    background: $bgr-light-gray;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
}

.privacy .btn-wrapper {
    width: 100px;
}

.another-questions {
    @include gradient-directional($gr-white-blue-from, $gr-white-blue-to, 45deg);
    border-radius: 10px;
    padding: 30px 10px;
    overflow: hidden;
}

.another-questions h4,
.another-questions p {
    padding: 0 20px;
}

@media (min-width: 768px) {
    .stations-box {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }
    .metro,
    .cgm {
        flex-grow: 1;
        margin: 0 5px;
    }

    .station .metro {
        margin-bottom: 0;
    }

    .station .metro .info {
        margin-bottom: 20px;
    }

    .stations-info {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .metro-stations,
    .bus-stations {
        flex: 1 100%;
        margin: 5px;
    }

    .partners {
        max-width: 100%;
    }

    .partners h2 {
        text-align: left;
    }

    .sofia-partners {
        max-width: 300px;
        float: left;
    }

    .stores-wrapper {
        float: right;
    }

    .sofia-municipality,
    .cgm-text,
    .metropoliten {
        height: 50px;
    }

    .step-red-text {
        position: absolute;
        top: 60%;
        left: 5%;
        width: 300px;
    }

    .step-red-text p {
        text-align: left;
    }

    .step-inner-info {
        position: absolute;
        top: 30%;
        right: 0;
        width: 300px;
    }
    .step-inner-info p,
    .step-inner-info ul {
        text-align: left;
    }
}

@media (min-width: 1024px) {
    .step-inner-info {
        right: 10%;
    }

    .step-red-text {
        left: 10%;
    }
}

@media (min-width: 1366px) {

    .blue-gradient {
        padding: 20px 30px;
    }
}

@media (min-width: 1920px) {
    .blue-gradient {
        padding: 30px 50px;
    }
}