/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

// Custom Colors
$cyan: #33e0ff;
$humility: #777;

// Bootstrap Variables
$brand-primary: darken(#428bca, 6.5%);
$brand-secondary: #e25139;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;

//Bootstrap vars
$text-color: #333;
$text-gray: #A7A8A8;
$blue: #19679A;
$light-blue: #10A9D9;

$font-size-base: 14px;
$font-family-sans-serif: "Roboto", Helvetica, sans-serif;

//Overide vars
$light-gray: #EFF3F5;
$dark-gray: #465B65;
$gray: #475C66;
$green: #A3CD3A;
$red: #E5262C;
$yellow: #EDC232;

$white: #fff;
$black: #000;

$bgr-light-gray: #F8F8F8;

$gr-white-blue-from: #F5FBFC;
$gr-white-blue-to: #B0E0EF;