/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

// Custom Colors
$cyan: #33e0ff;
$humility: #777;

// Bootstrap Variables
$brand-primary: darken(#428bca, 6.5%);
$brand-secondary: #e25139;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;

$text-color: #333;

$font-size-base: 14px;
$font-family-sans-serif: "Roboto", Helvetica, sans-serif;

//Overide vars
$double-light-gray: #f5f5f5;
$light-gray: #EFF3F5;
$middle-gray: #ccc;
$gray: #5F7B8E;
$dark-gray: #404750;

$white: #fff;
$black: #000;

$body-color: #f3f4f7;
$blue: #19679A;
$light-blue: #10A9D9;
$green: #8ab933;

$text-gray: #A7A8A8;
$dark: #484848;
$pink: #FF3E84;