@import '../../theme/variables.scss';
/*Footer*/
.footer .logo {
    background: url("./img/tickey.svg") center center no-repeat;
    width: 80px;
    height: 25px;
    margin: 0 auto;
}

.socials {
    margin: 0 auto;
}

.twitter {
    background: url("./img/twitter.svg") center center no-repeat;
    background-size: 100%;
    width: 40px;
    height: 25px;
    margin: 0 auto;
}

.instagram {
    background: url("./img/instagram.svg") center center no-repeat;
    background-size: 100%;
    width: 40px;
    height: 25px;
    margin: 0 auto;
}

.facebook {
    background: url("./img/facebook.svg") center center no-repeat;
    background-size: 100%;
    width: 40px;
    height: 25px;
    margin: 0 auto;
}

.campaing-cities a {
    padding: 0 5px;
}

@media (min-width: 768px) {
    .footer {
        display: table;
        width: 100%;
    }

    .logo,
    .campaing-cities,
    .footer-stores-wrapper,
    .socials-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .footer-stores-wrapper {
        width: 220px;
        text-align: right;
    }
}



