@import '../../../theme/variables';

.stores {
    margin: 0 auto;
    text-align: center;
}

.play-store {
    background: url("./img/gplay.svg") center center no-repeat;
    width: 100px;
    height: 30px;
    margin: 10px 5px;
    display: inline-block;
}

.app-store {
    background: url("./img/app_store.svg") center center no-repeat;
    width: 100px;
    height: 30px;
    margin: 10px 5px;
    display: inline-block;
}