@import "../../../theme/variables";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

.button {
    display: inline-block;
    min-width: 70px;
    width: 100%;
    padding: 10px;
    font: 400 16px/1 'Open Sans', sans-serif;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.button.small-text {
    font: 400 12px/1 'Open Sans', sans-serif;
}

.green {
    background: $green;
    color: $white;
}

.gray-bordered {
    background: transparent;
    color: $gray;
    border: 1px solid $gray;
}